/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/*
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */
main {
    padding: 2vw;
}
#menu-toggle {
    display: none;
}
/* hamburger menu addition */
.menu-toggle {
    cursor: pointer;
    text-align: right;
      position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

#menu-toggle:checked ~ .navbar-links {
    display: block;
}


    .navbar-links {
       display: none;


    }

/* navbar */

.navbar {


    color: black;
    display:flex;
    flex-direction: column;
    font-size: 1.5em;
    margin-bottom: 1rem;
    padding :1rem;
    background-color: #E38417;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: "Rye";
    position: relative;





}

/* logo */
.logo {
    display: flex;
    align-items: center
}

.logo img
{
    width: 7vw;
    height: 7vw
}

.logo h1 {
    font-size:1.2em;

}

/* navigation list */
.navbar-links li {
    display:block;

    list-style-type: none;
    padding: 0.5em 0;
 padding-top: 75px;
}

/*
 style all a tags in header
 and then on hover
*/

.navbar-links a {

    color: black;
    font-size: 2rem;
    padding: 1rem 1.25rem;
    background-color: #E38417;
    letter-spacing:2px;
    text-decoration: none;
    display:inline-block;
    padding-top: 20px;


}

.navbar-links a:hover,
.navbar-links a:focus
{
    filter: invert(1);
   color: #E38417;
    border-radius: 10px;
    outline: none;
    background-color:  black;
}


/*
media query for non-mobile nav bar
min-width set to width of nav elements
such that no text wraps
*/

@media screen and (min-width: 60rem)   {


    .navbar-links {
        display: block;
        flex-direction: row;
        justify-content: space-between;
           text-align: center;

    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;

    }

    .navbar ul {

        display: flex;
    }
    #menu-toggle {
    display: none;
}

.menu-toggle {
    cursor: pointer;
    text-align: right;
      position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    display: none;
}

#menu-toggle:checked ~ .navbar-links {
    display: none;
}


}


@media screen and (max-width: 750px)   {
  .navbar-links li {
    display:block;

    list-style-type: none;
    padding: 0.5em 0;
 padding-top: 5px;
  }
}
