body

/*THis is the beginning of my code*/

 {
    background-color:#E3D017;
    color: #2b332e;

 }
    h1, h2, h3, h4, h5, h6
     {
        font-family: "Oleo Script";
        font-size: 65pt;
    }
h2{margin: 0.1em;
}

header{
    text-align-last: center;


    /*THIS IS CODE FOR MY FOOTER*/
}
#hero, footer {
    text-align: center;
    background-color: #E38417;
    padding: 50px;
    border: 5px solid #2b332e;
    border-radius: 10px;
    font-family: "Oleo Script";
    font-size: 40pt;
}
/* SETTING DEMINSIONS FOR THE IMG IN THE HERO id*/
#hero img {
    width: 275px;
}
/* Some more style for my text in the about me id*/
#about-me {
    text-align: center;
    font-family: "Rye";
    font-size: 25pt;
    padding: 50px;
    border: 10px solid #2b332e;
    border-radius: 20px;
    margin: 4rem;

}
/* Some style for the netlify id*/
#netlify {
    text-align: center;
    font-family: "Rye";
    font-size: 25pt;




}
/* Adding more style for my hobbies id*/





#hobbies {
    text-align: center;
    font-family: "Rye";
    font-size: 25pt;
    padding: 30px 0;
    border: 5px solid #2b332e;
    animation: colorCycle2 20s infinite;
    display: flex;
    flex-direction: column;
    align-items: center;


}

/* Adding style for unordersed list in the hobbies id*/
#hobbies ul {
    display: inline-block;
    text-align: left;
}
/* i added some animations using the at-rule  @keyframes. I found this  while doing some research. */







/* This style is for my gallery section. i tried to  make it a little interesting while keeping things organized. Here you will find me targeting the different elements nested in the element with the id #gallery */

    #gallery {
      border: 10px solid #2b332e;
       margin:  4rem;


    }




#gallery figure{



    font-family: "Rye";
    font-size: 38pt;

    border-radius: 20px;
 display: grid;
grid-template-columns: 2fr 1fr;
 display: block;







}

#gallery h2{
    text-align: center;
    font-family: "Rye";
    font-size: 50pt;
    padding: 50px;

    color:black;
        text-decoration:underline black;
        grid-column: 1/-1;

}
#gallery img  {
  max-width: 100%;
  display: grid;




}
#gallery figcaption {

    font-family: "Rye";

    animation: colorCycle3 25s infinite;
     text-decoration:wavy black;
     text-align: center;


}
/* The style i added here is different than the rest of the style in my ccss file. We incorporated a float and pseudo elements. */
#lit {

    font-family: "Rye";
    font-size: 30pt;
 padding: 50px;
    border: 10px solid #2b332e;
    border-radius: 20px;
    margin: 4rem;
    margin-bottom: 2rem;


}

#lit h2 {
    text-decoration: underline black;
    color: black;
    font-size: 50pt;
    padding: 50px;
    text-align: center;
}

#lit div {
    padding: 2rem;
    max-width: fit-content;
    margin: 0 auto;
    max-width:100%;
    columns: 40rem;

}

#lit div p{
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;

}



#lit div p:first-child:first-letter

{

    color: white;
    font-family: "Oleo Script";
    float:left;
    font-size: 75pt;
    padding: 10px;
    line-height: -1em;
    border:5px solid rgba(43, 51, 46, 0.5);
    line-height: .65;
    margin-right: 6pt;
    background: linear-gradient(to bottom right, gainsboro, #38505a););
color:white;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
}

/* tablet size */
@media screen and ( min-width: 60em) {

/* flex for figcaption */
figcaption {
     display: flex;
    justify-content:  center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;

}
/* image size */
figure img {
width: 100%;

}


/*  */

@media screen and (min-width: 100em) {
    #gallery{
        display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
hr{
    display: none;
}
}
