body
 {
    background-color: #35A062;
    color: #2b332e;

 }
    h1, h2, h3, h4, h5, h6
     {
        font-family: "Oleo Script";
        font-size: 65pt;
    }
header{
    text-align-last: center;

}
#hero, footer {
    text-align: center;
    background-color: #00F566;
    padding: 50px;
    border: 5px solid #2b332e;
    border-radius: 10px;
    font-family: "Oleo Script";
    font-size: 40pt;
}

#hero img {
    width: 275px;
}
#about-me {
    text-align: center;
    font-family: "Rye";
    font-size: 25pt;
    padding: 50px;
    border: 10px solid #2b332e;
    border-radius: 20px;
    margin: 4rem;

}

#netlify {
    text-align: center;
    font-family: "Rye";
    font-size: 25pt;




}

#hobbies {
    text-align: center;
    font-family: "Rye";
    font-size: 25pt;
  padding: 30px;
    border: 5px solid #2b332e;
    border-radius: 10px;
    padding-left: 1.5rem;
    list-style-position: inside;
    animation: colorCycle2 5s infinite;
    margin: 30px;



}

#hobbies ul {
    display: inline-block;
    text-align: left;
}


@keyframes colorCycle {
    0% { color: white; }

    50% { color: #69bde2  }

    100% {color: white ; }

}

#hobbies li {
    animation: colorCycle 5s infinite;
}

@keyframes colorCycle2 {
    0% { color: gainsboro}


    50% { color:gold}

    100% {color: gainsboro ; }

}

@keyframes colorCycle3{
    0% { color: white}


    50% { color:rgb(42, 42, 42)}

    100% {color: white ; }
}



    #gallery {

        border: 10px solid #2b332e;
padding: 50px;
       margin:  4rem;
    }




#gallery figure{
    text-align: center;
    font-family: "Rye";
    font-size: 25pt;
    padding: 50px;
    border-radius: 20px;








}

#gallery h2{
    text-align: center;
    font-family: "Rye";
    font-size: 50pt;
    padding: 50px;

    color:black;
        text-decoration:underline black;

}

#gallery img  {
    max-width: 100%;
    padding: 50px;
    display: inline-block;

     padding: 50px;
     margin: 20px;

}
#gallery figcaption {
    text-align: center;
    font-family: "Rye";
    font-size: 38pt;
    padding: 20px;
    border-radius: 20px;
    animation: colorCycle3 25s infinite;
     text-decoration:wavy black;
     margin: 10px;
      border: 5px solid #2b332e;

}

#lit {

    font-family: "Rye";
    font-size: 30pt;
 padding: 50px;
    border: 10px solid #2b332e;
    border-radius: 20px;
    margin: 4rem;
    margin-bottom: 2rem;;

}

#lit h2 {
    text-decoration: underline black;
    color: black;
    font-size: 50pt;
    padding: 50px;
    text-align: center;
}

#lit div {
    padding: 2rem;
    max-width: fit-content;
    margin: 0 auto;
}

#lit div p{
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}



#lit div p:first-letter

{

    color: white;
    font-family: "Oleo Script";
    float:left;
    font-size: 75pt;
    padding: 10px;
    line-height: -1em;
    border:5px solid rgba(43, 51, 46, 0.5);
    line-height: .65;
    margin-right: 6pt;
    background: linear-gradient(to bottom right, gainsboro, #38505a););
color:white;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
}
